---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Line from '~/components/ui/Vertical.astro';
import {content} from '~/content'
import HeroImage from '~/assets/visuals/hero.svg';
import GoalImage from '~/assets/visuals/goal.svg';


//==================Widgets=======================
import Hero from '~/components/widget/hero.astro'
import Offer from '~/components/widget/offer.astro'
import Goal from '~/components/widget/goal.astro'
import Contact from '~/components/widget/contact.astro'

//================Content========================
const { landingPage } = content


//=========================================

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---
<Layout {meta}>
  <div>
    <!-- ========================================= HERO ========================================================== -->
    <Hero FirstLink={landingPage.hero.heroLinks.link1} SecondLink={landingPage.hero.heroLinks.link2} img={HeroImage}>
      <Fragment slot="title"><span class="text-special">Integrator</span> {landingPage.hero.title}</Fragment>
      <Fragment slot="description">{landingPage.hero.description}</Fragment>
    </Hero>
    <div class="w-full h-0.5"><Line mode="special" /></div>
    <!-- =========================================Offers ========================================================== -->
    <Offer cardsInfo={landingPage.offer.cards}>
      <Fragment slot='title'>{landingPage.offer.title} <span class="text-special">Intergrator</span> offer ?</Fragment>
      <Fragment slot='description'>{landingPage.offer.description}</Fragment>
    </Offer>
    <div class="w-full  h-0.5"><Line mode="special" /></div>
    <!-- ========================================= Goals ========================================================== -->
    <Goal content={landingPage.goal.content} img={GoalImage}>
      <Fragment slot='title'>{landingPage.goal.title} <span class="text-special"> Integrator</span> offer</Fragment>
      <Fragment slot='description'>{landingPage.goal.description}</Fragment>
    </Goal>
    <!-- ========================================= Contact us ========================================================== -->
    <div class="w-full h-0.5"><Line mode="special" /></div>
    <Contact></Contact>
  </div>
</Layout>
