---
import { SITE } from '~/config.mjs';
import Layout from './PageLayout.astro';
import {Icon} from 'astro-icon'
//==================Widgets=======================
import TechCard from '~/components/widget/TechCard.astro'
//================Content========================
import {technologies} from "../integration/data"
const frontEndTechnologies = technologies.filter(e => e.catagory === "front-end");
const devOpsTechnologies = technologies.filter(e => e.catagory === "dev-ops");
const backEndTechnologies = technologies.filter(e => e.catagory === "back-end");
//=========================================
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
const {type} = Astro.props
---
<Layout {meta}>
  <div class="flex flex-col justify-center items-center m-3">
    <h1 class="text-center text-7xl my-10 text-darken dark:text-lighten">Browse <span class="text-special">&</span> Search</h1>
    <!-- ------------- Search Bar ------------------- -->
    <div class="flex items-center w-full justify-center group ">
      <input id="searchBar" class="transition-all bg-lighten dark:bg-darken border-2 border-special rounded-s-[20px] w-[70%] py-1.5 px-3 outline-none  group-hover:shadow-[0px_0px_7px_var(--int-color-accent)]" placeholder="Type the technology or the framework ..."/>
      <button id="clicker" class="transition-all font-semibold bg-special py-2 px-5 text-lighten dark:text-darken rounded-e-[10px] cursor-pointer group-hover:shadow-[0px_0px_7px_var(--int-color-accent)]">Search</button>
    </div>
    <div class="w-full flex flex-col justify-center items-center my-4 min-h-[200px]" id="cardWraper"></div>
    <!-- --------------- Main Cards -------------------- -->
    <slot />
    <div class="h-[2px] bg-darken dark:bg-lighten w-[40vw] mb-10 mt-20" />
    <!-- ------------- Technology Cards ------------------- -->
    <div class="flex flex-wrap w-full justify-around border-special sm:border rounded-[30px] ">
      {type === "front-end"&&frontEndTechnologies.map(element => <TechCard link={`/search/${element.name.toLocaleLowerCase()}`} title={element.name} icon={element.icon} description={element.description}/>)}
      {type === "back-end"&&devOpsTechnologies.map(element => <TechCard link={`/search/${element.name.toLocaleLowerCase()}`} title={element.name} icon={element.icon} description={element.description}/>)}
      {type === "dev-ops"&&backEndTechnologies.map(element => <TechCard link={`/search/${element.name.toLocaleLowerCase()}`} title={element.name} icon={element.icon} description={element.description}/>)}
    </div>
  </div>
</Layout>
<script>
import {technologies} from "../integration/data";
const HtmlWrapper = document.querySelector('#cardWraper');
function onClickHandler () {
  const inpitValue = document.querySelector('#searchBar')?.value.toLowerCase();
  const data = technologies.filter(e => e.name.toLowerCase().includes(inpitValue));
  const reduceData = [data[0],data[1],data[2]];
  HtmlWrapper.innerHTML = '';
  reduceData.map(element => {
    const divContainer = document.createElement("a");
    const containerTitle = document.createElement("span");
    divContainer.classList.add('bg-lighten', 'dark:bg-darken', 'border-special', 'w-[30%]', 'my-2' ,'px-4' ,'py-2' ,'border-2' ,'rounded-[20px]','cursor-pointer' ,'flex' ,'items-center' ,'group' ,'transition-all' ,'hover:dark:bg-special', 'hover:bg-special');
    containerTitle.innerHTML = element.name;
    divContainer.href = `/search/${element.name}`
    divContainer.appendChild(containerTitle);
    HtmlWrapper?.appendChild(divContainer);
  })
}
document.querySelector('#clicker')?.addEventListener('click',onClickHandler)
</script>